#service in prod
# ===========================
#  Spring Boot profile
SPRING_PROFILES_ACTIVE=TO_BE_DEFINED

# ===========================
# Application
SERVER_PORT=TO_BE_DEFINED
SPRING_APPLICATION_NAME=TO_BE_DEFINED

# #######################################################################################
# DATABASE - Application Connections
# #######################################################################################
# Base "course"
SPRING_DATASOURCE_COURSE_URL=TO_BE_DEFINED
SPRING_DATASOURCE_COURSE_USERNAME=TO_BE_DEFINED
SPRING_DATASOURCE_COURSE_PASSWORD=TO_BE_DEFINED

# Base "user"
SPRING_DATASOURCE_USER_URL=TO_BE_DEFINED
SPRING_DATASOURCE_USER_USERNAME=TO_BE_DEFINED
SPRING_DATASOURCE_USER_PASSWORD=TO_BE_DEFINED

# #######################################################################################
# DATABASE - Docker PostgreSQL Credentials
# #######################################################################################
# PostgreSQL Course Container
POSTGRES_COURSE_DB=TO_BE_DEFINED
POSTGRES_COURSE_USER=TO_BE_DEFINED
POSTGRES_COURSE_PASSWORD=TO_BE_DEFINED

# PostgreSQL User Container
POSTGRES_USER_DB=TO_BE_DEFINED
POSTGRES_USER_USER=TO_BE_DEFINED
POSTGRES_USER_PASSWORD=TO_BE_DEFINED

# #######################################################################################
# WEB SERVICES
# #######################################################################################

# RabbitMQ - Application Connection
RABBITMQ_HOST=TO_BE_DEFINED
RABBITMQ_PORT=TO_BE_DEFINED
RABBITMQ_USER=TO_BE_DEFINED
RABBITMQ_PASS=TO_BE_DEFINED
RABBITMQ_VHOST=TO_BE_DEFINED
RABBITMQ_EXCHANGE=TO_BE_DEFINED

# RabbitMQ - Docker Container Credentials
RABBITMQ_DEFAULT_USER=TO_BE_DEFINED
RABBITMQ_DEFAULT_PASS=TO_BE_DEFINED

# RabbitMQ - Routing keys et queues pour media
RABBITMQ_ROUTING_KEY=TO_BE_DEFINED
RABBITMQ_ROUTING_KEY_METADATA=TO_BE_DEFINED
RABBITMQ_QUEUE_UPLOADED=TO_BE_DEFINED
RABBITMQ_QUEUE_METADATA=TO_BE_DEFINED

# RabbitMQ - Video Polling
RABBITMQ_VIDEO_POLLING_QUEUE=TO_BE_DEFINED
RABBITMQ_VIDEO_POLLING_ROUTING_KEY=TO_BE_DEFINED
RABBITMQ_VIDEO_POLLING_DELAY_QUEUE=TO_BE_DEFINED
RABBITMQ_VIDEO_POLLING_DELAY_ROUTING_KEY=TO_BE_DEFINED
RABBITMQ_VIDEO_POLLING_TIMEOUT_MINUTES=TO_BE_DEFINED

# #######################################################################################
# VIDEO DELETION
# #######################################################################################
VIDEO_DELETION_ENABLED=TO_BE_DEFINED
VIDEO_DELETION_QUEUE=TO_BE_DEFINED
VIDEO_DELETION_ROUTING_KEY=TO_BE_DEFINED
VIDEO_DELETION_DELAY_QUEUE=TO_BE_DEFINED
VIDEO_DELETION_DELAY_ROUTING_KEY=TO_BE_DEFINED
VIDEO_DELETION_MAX_RETRY_ATTEMPTS=TO_BE_DEFINED
VIDEO_DELETION_DISPATCHER_FIXED_DELAY_MS=TO_BE_DEFINED
VIDEO_DELETION_DISPATCHER_BATCH_SIZE=TO_BE_DEFINED

# #######################################################################################
# MONITORING - Grafana
# #######################################################################################
GRAFANA_ADMIN_USER=TO_BE_DEFINED
GRAFANA_ADMIN_PASSWORD=TO_BE_DEFINED

# #######################################################################################
# VIMEO
# #######################################################################################
VIMEO_ACCESS_TOKEN=TO_BE_DEFINED
CLIENT_SECRET=TO_BE_DEFINED
CLIENT_IDENTIFIER=TO_BE_DEFINED

# #######################################################################################
# END
# #######################################################################################
