{
    email dardemarina@gmail.com

    log {
            output stdout
            format console
            level INFO
        }
}

# =========================================================
# Root - probe simple
# =========================================================
skillshubdev.duckdns.org {
    respond "HOST_HTTP_OK" 200
}

# =========================================================
# API - public
# =========================================================
skillshubdev-api.duckdns.org {
    encode zstd gzip

    header {
       Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
       X-Content-Type-Options "nosniff"
       Referrer-Policy "no-referrer"
    }

    @swagger path /swagger-ui* /v3/api-docs* /swagger-resources* /webjars*
    basicauth @swagger {
                       {$SWAGGER_BASIC_AUTH_USER} {$SWAGGER_BASIC_AUTH_HASH}
    }
    reverse_proxy @swagger backend-service:10020

    @api path /api/*
    reverse_proxy @api gateway-service:8080

    # Safety fallback (optional): anything else -> gateway
    reverse_proxy gateway-service:8080
}

# =========================================================
# Grafana - public + BasicAuth au proxy
# =========================================================
skillshubdev-grafana.duckdns.org {
    encode zstd gzip

    basicauth {
      {$GRAFANA_BASIC_AUTH_USER} {$GRAFANA_BASIC_AUTH_HASH}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "no-referrer"
    }

    reverse_proxy grafana:3000
}

# =========================================================
# RabbitMQ UI - public + BasicAuth au proxy
# =========================================================
skillshubdev-rabbit.duckdns.org {
     encode zstd gzip

    basicauth {
        {$RABBIT_BASIC_AUTH_USER} {$RABBIT_BASIC_AUTH_HASH}
    }

    header {
       Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
       X-Content-Type-Options "nosniff"
       X-Frame-Options "SAMEORIGIN"
       Referrer-Policy "no-referrer"
    }

    reverse_proxy rabbitmq:15672
}

# =========================================================
# Keycloak - public (Admin console + OIDC)
# =========================================================
skillshubdev-auth.duckdns.org {
      encode zstd gzip

      header {
         Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
         X-Content-Type-Options "nosniff"
         Referrer-Policy "no-referrer"
      }

      reverse_proxy keycloak:8080 {
          header_up -Forwarded
          header_up X-Forwarded-Proto https
          header_up X-Forwarded-Host {host}
          header_up X-Forwarded-Port 443
      }
}